.grid-container {
    background-color: darkgrey;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.grid-container>div {
    background-color: darkolivegreen;
    border: 5px solid black;
    color: white;
    height: 150px;
    /* Aumenta la altura para que el contenido sea visible */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    /* Ajusta el tamaño de fuente a un valor legible */
}